body{
    margin: 0;
    font-family:Gilroy,sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color:#B5B5B5;
    font-size:14px;
    background-color:#040D3E;
    background-repeat: no-repeat;
    background:linear-gradient(to bottom, #3B1D60,#040D3E) fixed;
    height: 100%;
}

*,
*:before,
*:after{
box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin:0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}


.container{
    width: 100%;
    max-width: 1440px;
    padding:0 170px;
    margin:0 auto;


}

.page{
    overflow: hidden;
    position: relative;
  
}

.text{
    font-family:Gilroy;
   
}


/*  Header  */


.header{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    padding-top: 90px;
    padding-bottom:144px;
   
}




.header__inner{
    display:flex;
    position: relative;
    align-items: center;
  
    justify-content: space-between;
}

.header__left{
    display: flex;
    align-items: center;
    position: relative;
    margin-left:-20px;
    
}



.header__logo{
    cursor: pointer;
 
    
    
}






.header__svg{
    
   background-color:transparent;
    transform: scale(0.5);

}

/*  templates  */

.button__template{

    line-height: 20px;
    font-size:12px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 2px;
    border-radius: 5%;
    padding: 8px 28px;
    transition: background-color .2s linear;
    transition: color .2s linear;

}



.btn__templ-1{
    color:#fff;
    background-color:#F2994A ;
    transition: background-color .4s ease-out;
    transition: color .4s ease-out;
}



.btn__templ-2{
    color:#F2994A;
    background-color:transparent;
    border:2px solid #F2994A;
    margin-right: 20px;
   
}




.btn__templ-1:hover,.btn__templ-2:hover{
    background-color:#fff;
   color:#F2994A;
 
}

/*  Nav header  */
.nav{
    margin-left:40px;
  }

.nav__link{
    color:#B5B5B5;
    font-weight: 700;
    font-family:Gilroy,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 20px;
    transition: color .9s ease-out;
    letter-spacing: 2px;
}

.nav__link:hover{
    color:yellow;
    
}













/*  Intro  */


.intro{
    /* background-color:#040D3E;
    background:linear-gradient(to bottom, #3B1D60,#040D3E); */
    padding-top:220px;
   
    
}


.intro__inner{
    display: flex;
}





.intro__descript{
    
    padding-top:30px;
    position: relative;
    width:100%;
    padding-right: 38px;
    max-width: 540px;
    
}




.title{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.1;
    color:#99EFD0;
    width: 530px;
    margin-bottom:20px
}


.templ-text{
    font-family:Gilroy,sans-serif;
    font-weight:600;
    color:#8476AA;
    padding-right:64px;
    line-height: 1.2;
    font-size: 18px;
    width: 100%;
  
}



.intro__buttons{
    padding-top: 40px;
}


.button__template.--intro-btn{
    width: 100%;
    max-width: 157px;
    margin-right:20px;
    margin-bottom:60px;
}


.intro__video{
    display: flex;
    width:100%;
    max-width: 540px;


}

.intro__play{
    width:100%;
    max-width: 140px;
    max-height: 80px;
    cursor: pointer;
}



.play-text{
    width:100%;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color:#8476AA;
    margin-top:4px;
    margin-left:20px;
    max-width: 380px;
    line-height: 1.2;
    margin-bottom:6px;
}


.play__watch{
    margin-left:20px;
    
    text-decoration: none;
    color:#6D6D78;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
}




/*  Partners  */

.partners{
    margin-bottom:100px;
    width: 100%;
    
    

    
    
}


.brand__parnters{

display:flex;
flex-wrap:nowrap;
justify-content: center;



}

.brand{
color: #8476AA;

margin-right:74px;
}

.brand:last-child{
    margin-right:0;
}


/*  Your Choice */

.choice__title,.choice__descript{
    text-align: center;
}


.choices__list{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
}

.choice__inner{
   padding-left:55px;
   padding-right:55px;
}

.choice__item{
    margin-bottom:35px;
}

.choice__title{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 42px;
    color:#99EFD0;
    margin-bottom: 15px;
}

.choice__descript{
    color:#8476AA;
    font-family:Gilroy,sans-serif;
    font-weight: 600;
    font-size:16px;
    margin-bottom: 50px;

}


.choice__title-wrapper{
    display: flex;
  
}


.choice__title-item{
    font-family:Gilroy,sans-serif;
    font-weight: 700;
    font-size:18px;
    line-height: 1.2;
    color:#99EFD0;
    margin-bottom:10px;
    

}

.choice__icon{
    vertical-align: middle;
    margin-right: 28px;
}

.choice__text{
    color:#8476AA;
    font-family:Gilroy,sans-serif;
    font-weight: 600;
    font-size:14px;
    margin-bottom: 50px;
    line-height: 1.4;
    padding-left:54px;
    
}


/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik', sans-serif;
font-family:Gilroy,sans-serif;
semi bold 600*/