body{
    margin: 0;
}



.text{
    font-family:Gilroy;
   
}



/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik', sans-serif;
font-family:Gilroy;*/