body{
    margin: 0;
    font-family:Gilroy,sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color:#B5B5B5;
    font-size:14px;
    
    

}

*,
*:before,
*:after{
box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin:0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}


.container{
    width: 100%;
    max-width: 1440px;
    padding:0 150px;
    margin:0 auto;


}

.text{
    font-family:Gilroy;
   
}


/*  Header  */


.header{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    padding-top: 90px;
    padding-bottom:144px;
   
}




.header__inner{
    display:flex;
    position: relative;
    align-items: center;
  
    justify-content: space-between;
}

.header__left{
    display: flex;
    align-items: center;




}



.header__logo{
    cursor: pointer;
    
    
}


.nav{
  margin-left:40px;
}



.header__svg{
    
   background-color:transparent;
    transform: scale(0.5);
}

.header__btn{

    line-height: 20px;
    font-size:12px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 2px;
    border-radius: 5%;
    padding: 8px 28px;
    transition: background-color .2s linear;
    transition: color .2s linear;

}

.sign__up{
    color:#fff;
    background-color:#F2994A ;
    transition: background-color .2s ease-out;
    transition: color .2s ease-out;
}



.sign__in{
    color:#F2994A;
    background-color:transparent;
    border:2px solid #F2994A;
    margin-right: 20px;
    transition: background-color .2s ease-out;
    transition: color .2s ease-out;
}




.sign__in:hover,.sign__up:hover{
    background-color:#fff;
   color:#F2994A;
   border:none;
   transition: background-color .4s ease;
    transition: color .4s ease;
}

/*  Nav header  */


.nav__link{
    color:#B5B5B5;
    font-weight: 700;
    font-family:Gilroy,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 20px;
    transition: color .9s ease-out;
    letter-spacing: 2px;
}

.nav__link:hover{
    color:yellow;
    
}













/*  Intro  */


.intro{
    
    position: relative;
    background-color:#040D3E;
    background:linear-gradient(to bottom, #3B1D60,#040D3E);
    padding-top:250px;
}






/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik', sans-serif;
font-family:Gilroy,sans-serif;*/